* {
	margin: 0;
	padding: 0;
}

.primary-btn {
	color: hsl(356, 100%, 66%);
	background-color: hsl(0, 0%, 100%);

	font-family: 'Ubuntu';
	font-weight: 700;

	border-radius: 100px;
	padding: 12px 10px;
	margin: 0.5rem;

	width: 120px;

	cursor: pointer;

	transition-duration: 0.3s;
}

.primary-btn:hover {
	background-color: hsl(355, 100%, 74%);
	color: hsl(0, 0%, 100%);
}

.secondary-btn {
	/* background-color: hsl(356, 100%, 66%); */
	color: hsl(0, 0%, 100%);

	font-family: 'Ubuntu';
	font-weight: 700;

	border: 1px solid hsl(0, 0%, 100%);
	border-radius: 100px;
	padding: 12px 10px;
	margin: 0.5rem;

	width: 120px;

	cursor: pointer;

	transition-duration: 0.3s;
}

.secondary-btn:hover {
	background-color: hsl(0, 0%, 100%);
	color: hsl(355, 100%, 74%);
}
