.banner {
	background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	background-position: top, left, right, bottom;
	border-radius: 0 0 0 100px;
	padding-top: 2rem;
}

.container {
	height: 450px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.banner-items {
	z-index: 1;
	align-self: center;
	text-align: center;
}

.background {
}

.title {
	font-family: 'Overpass', sans-serif;
	font-weight: 700;
	font-size: 78px;
	color: hsl(0, 0%, 100%);
}

.sub-title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 25px;
	color: hsl(0, 0%, 100%);
}

.flex-box {
	display: flex;
	justify-content: center;
}
